
.swiftpm/xcode/package.xcworkspace/xcuserdata/apostolis.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/xcuserdata/apostolis.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
